<p id="notice"><%= notice %></p>

<h1>Listing Property Images</h1>

<div id="property_images" class="row">
  <%= render @property_images %>
</div>

<br>

<%= link_to 'New Property image', new_property_image_path %>

<h1>New Property Image</h1>

<%= render 'form' %>

<%= link_to 'Back', property_images_path %>
