<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property_image.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @property_image.image_url %>
</p>

<%= link_to 'Edit', edit_property_image_path(@property_image) %> |
<%= link_to 'Back', property_images_path %>
